<section class="p-4">
    <div class="container-fluid">
        <h1 class="text-center">Про розробника</h1>
        <div class="row">
            <p class="mt-4">
                Цей сайт створено для поширення екологічних знань та ідей. Віримо, що маленькі кроки здатні змінити світ.
            </p>
            <p>
                GitHub розробника: <a href="<%= githubLink %>" target="_blank"><%= githubLink %></a>
            </p>
        </div>
        <div class="row mt-4">
            <a class="btn btn-secondary" href="/">На головну</a>
        </div>
    </div>
</section>