<section class="p-4">
    <div class="container-fluid">
        <h1 class="text-center"><%= item.title %></h1>
        <div class="row">
            <p class="mt-4"><%= item.description %></p>
        </div>
        <div class="row mt-4">
            <a class="btn btn-secondary" href="/">Повернутися до списку</a>
        </div>
    </div>
</section>