<section class="p-4">
    <div class="container-fluid">
        <h1 class="text-center">Політика конфіденційності</h1>
        <div class="row">
            <p class="mt-4">
                Ми поважаємо вашу конфіденційність і зобов'язуємося забезпечувати безпеку вашої інформації.
                Цей вебсайт не збирає персональних даних без вашої згоди.
            </p>
            <p>
                Для детальнішої інформації зверніться до нас через форму зворотного зв'язку.
            </p>
        </div>
        <div class="row mt-4">
            <a class="btn btn-secondary" href="/">На головну</a>
        </div>
    </div>
</section>